body {
  font-family: Apercu, "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 300;
  color: #444452;
  letter-spacing: 2px;
}

/* Section Contents */

.section-title {
  font-weight: 600;
  color: #007dff;
  margin: 0;
  padding: 0;
  text-align: right;
}

.section-content-title {
  font-weight: 600;
  margin-bottom: 2rem;
}

.section-content {
  padding: 0 3rem;
  line-height: 1.5;
}

.section-content-list {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

/* Container */

.container-fluid {
  padding: 5% 25% 10% 20%;
  text-align: left;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem;
  float: right;
  margin: none;
}

.nav-item {
  padding: 2rem 1rem;
}

.nav-link:hover {
  border-bottom: 1px #007dff solid;
  margin-top: 2px;
}

.navbar-toggler {
  border: none;
  width: 3rem;
  display: inline-block;
}

/* Header Section */

#title-hedaer {
  padding: 15% 35% 15% 20%;
  text-align: left;
}

.header-greeting {
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 6rem;
}

.golee {
  font-weight: 600;
}

.waving-hand-image {
  width: 2.5rem;
  height: auto;
  margin: 0 0 20px 5px;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-name: waving-hand;
}

@keyframes waving-hand {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.technologist-image {
  width: 2.5rem;
  height: auto;
  margin: 0 0 20px 5px;
}

#get-in-touch {
  font-size: 1.4rem;
  float: left;
}

.pointing-right-image {
  width: 2rem;
  height: auto;
  padding: 0 0 10px 0;
}

button {
  position: relative;
  margin: 0 7px;
  padding: 0 5px;
  border: none;
  background-color: #fff;
  border-bottom: 3px #007dff solid;
  outline: 0;
  overflow: visible;
  z-index: 1;
  transition: 0.09s ease-in-out;
  -o-transition: 0.09s ease-in-out;
  -ms-transition: 0.09s ease-in-out;
  -moz-transition: 0.09s ease-in-out;
  -webkit-transition: 0.09s ease-in-out;
}

#golee-email {
  color: #383736;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 2.5px;
}

#golee-email:hover {
  color: #fff;
}

#golee-email:before {
  content: "";
  position: absolute;
  background-color: #007dff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in-out;
}

#golee-email:hover:before {
  top: 0;
}
/* Skills Section */
#skills .container-fluid {
  padding: 7% 10% 7% 20%;
}

/* Project Section */

/* Footer Section */
#footer {
}

.social-icon {
  margin: 20px 10px;
}

.robot-image {
  width: 3%;
  height: auto;
  margin-bottom: 0.5%;
}

.pointing-up {
  width: 2.5rem;
  height: auto;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.pointing-up:hover {
  margin-bottom: 5px;
  transition: 0.1 ease-in-out;
}
